body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Couleur de fond douce */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007BFF; /* Bordure bleue au focus */
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Couleur plus foncée au survol */
}

button:active {
    background-color: #004085; /* Couleur encore plus foncée au clic */
}